[submodule "external/kokkos"]
	path = external/kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "external/kokkos-kernels"]
	path = external/kokkos-kernels
	url = https://github.com/kokkos/kokkos-kernels.git
[submodule "external/pdi"]
	path = external/pdi
	url = https://gitlab.maisondelasimulation.fr/pdidev/pdi.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/kokkos-tools"]
	path = external/kokkos-tools
	url = https://github.com/kokkos/kokkos-tools.git
