bin
obj
data
exec/*/*.hpp
exec/*/*.h
exec/*/src
exec/*/CMakeFiles
exec/*/CMakeCache.txt
exec/*/cmake_install.cmake
exec/*/Makefile
user/Make.defs
*.o
*.d
*.a
*.tmp
*.dat
*~
vgcore.*
python/__pycache__
*.ex
*.h5
*.xmf
*.nvvp
compile_commands.json
.cache
*.pdf
*.aux
*.log
