#ifndef DEFINITIONS_H_
#define DEFINITIONS_H_

#include "../../src/physics/EquationTypes.H"
#include "../../src/physics/RSTypes.H"
#include "../../src/numeric/RKTypes.H"

// Space dimension of problem
#define SPACE_DIM %{SPACE_DIM}

// Stencil radius (2-4)
#define STENCIL_RADIUS %{STEN_RAD}

// Number of Gauss-Legendre points on faces (1-5)
#define NUM_QUAD_PTS %{NUM_QUAD}

// Floating point precision (1 for double, 0 for single)
#define FLOAT_PRECISION %{FLOAT_PREC}

#define %{EXEC_SPACE}

constexpr KFVM::EquationType eqType = %{EQ_TYPE};
constexpr KFVM::RSType rsType = %{RS_TYPE};
constexpr KFVM::RKType rkType = %{RK_TYPE};

#endif
