#ifndef DEFINITIONS_H_
#define DEFINITIONS_H_

#include "../../../src/physics/EquationTypes.H"
#include "../../../src/physics/RSTypes.H"
#include "../../../src/numeric/RKTypes.H"
#include "../../../src/stencil/KernelTypes.H"

// Space dimension of problem
#define SPACE_DIM %{SPACE_DIM}

// Stencil radius (2-3)
#define STENCIL_RADIUS %{STEN_RAD}

// Number of Gauss-Legendre points on faces (1-5)
#define NUM_QUAD_PTS %{NUM_QUAD}

#define %{EXEC_SPACE}

constexpr KFVM::KernelType kernelType = %{KERN_TYPE};
constexpr KFVM::EquationType eqType = %{EQ_TYPE};
constexpr KFVM::RSType rsType = %{RS_TYPE};
constexpr KFVM::RKType rkType = %{RK_TYPE};

#endif
