# Set mesh resolution and extent
mesh:resolution 
mesh:numblocks 
mesh:extent 

# Set time information
time:final 
time:mindt 
time:cfl 
time:maxsteps 
time:atol 
time:rtol 

# Set stencil options
stencil:lfac 

# Set fluid properties
eos:gamma 
eos:wenothresh 

# Output settings
io:pdiconf 
io:datadir 
io:basename 
io:plotfreq 
io:ckptfreq
io:statsfreq
io:verbose 

# User defined parameters