// Set intial condition
// must take (x,y,z) coordinates regardless of space dimension

KOKKOS_INLINE_FUNCTION
void InitialCondition(Real x,Real y,Real z, EosParameters eosParams,
		      UserParameters userParams, Real state[NUM_VARS])
{
  using ConsVar = typename SimVar<eqType>::ConsVar;  
  
  (void)x;
  (void)y;
  (void)z;
  (void)eosParams;
  (void)userParams;

  state[SimVar::dens] = ;
  state[SimVar::momx] = ;
  state[SimVar::momy] = ;
  state[SimVar::momz] = ;
  state[SimVar::etot] = ;
}
