// Set intial condition
// must take (x,y,z) coordinates regardless of space dimension

KOKKOS_INLINE_FUNCTION
void InitialCondition(Real x,Real y,Real z,
		      EosParameters eosParams,
		      UserParameters userParams,
		      Real state[NUM_VARS])
{
  using Physics::MHD_GLM::SimVar;
  
  (void) x; (void) y; (void) z;

  state[SimVar::dens] = ;
  state[SimVar::momx] = ;
  state[SimVar::momy] = ;
  state[SimVar::momz] = ;
  state[SimVar::etot] = ;
  state[SimVar::magx] = ;
  state[SimVar::magy] = ;
  state[SimVar::magz] = ;
  state[SimVar::psi] = 0.0;
}
